In [1]:
import numpy as np
import pandas as pd
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [3]:
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
test_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [5]:
# 1)Find the count of missing values in train dataset(train.csv)?
train_df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
# 2)Combine both the test and train datasets.
pd.concat([train_df,test_df])

D:\machine learning\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,LP001002,Y,No,Urban,No
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,LP001003,N,Yes,Rural,No
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,LP001005,Y,Yes,Urban,Yes
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,LP001006,Y,Yes,Urban,No
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,LP001008,Y,No,Urban,No
5,5417,4196.0,1.0,2,Graduate,Male,267.0,360.0,LP001011,Y,Yes,Urban,Yes
6,2333,1516.0,1.0,0,Not Graduate,Male,95.0,360.0,LP001013,Y,Yes,Urban,No
7,3036,2504.0,0.0,3+,Graduate,Male,158.0,360.0,LP001014,N,Yes,Semiurban,No
8,4006,1526.0,1.0,2,Graduate,Male,168.0,360.0,LP001018,Y,Yes,Urban,No
9,12841,10968.0,1.0,1,Graduate,Male,349.0,360.0,LP001020,N,Yes,Semiurban,No
10,3200,700.0,1.0,2,Graduate,Male,70.0,360.0,LP001024,Y,Yes,Urban,No
11,2500,1840.0,1.0,2,Graduate,Male,109.0,360.0,LP001027,Y,Yes,Urban,NaN
12,3073,8106.0,1.0,2,Graduate,Male,200.0,360.0,LP001028,Y,Yes,Urban,No
13,1853,2840.0,1.0,0,Graduate,Male,114.0,360.0,LP001029,N,No,Rural,No
14,1299,1086.0,1.0,2,Graduate,Male,17.0,120.0,LP001030,Y,Yes,Urban,No
15,4950,0.0,1.0,0,Graduate,Male,125.0,360.0,LP001032,Y,No,Urban,No
16,3596,0.0,NaN,1,Not Graduate,Male,100.0,240.0,LP001034,Y,No,Urban,No
17,3510,0.0,0.0,0,Graduate,Female,76.0,360.0,LP001036,N,No,Urban,No
18,4887,0.0,1.0,0,Not Graduate,Male,133.0,360.0,LP001038,N,Yes,Rural,No
19,2600,3500.0,1.0,0,Graduate,Male,115.0,NaN,LP001041,Y,Yes,Urban,NaN
20,7660,0.0,0.0,0,Not Graduate,Male,104.0,360.0,LP001043,N,Yes,Urban,No
21,5955,5625.0,1.0,1,Graduate,Male,315.0,360.0,LP001046,Y,Yes,Urban,No
22,2600,1911.0,0.0,0,Not Graduate,Male,116.0,360.0,LP001047,N,Yes,Semiurban,No
23,3365,1917.0,0.0,2,Not Graduate,NaN,112.0,360.0,LP001050,N,Yes,Rural,No
24,3717,2925.0,NaN,1,Graduate,Male,151.0,360.0,LP001052,N,Yes,Semiurban,NaN
25,9560,0.0,1.0,0,Graduate,Male,191.0,360.0,LP001066,Y,Yes,Semiurban,Yes
26,2799,2253.0,1.0,0,Graduate,Male,122.0,360.0,LP001068,Y,Yes,Semiurban,No
27,4226,1040.0,1.0,2,Not Graduate,Male,110.0,360.0,LP001073,Y,Yes,Urban,No
28,1442,0.0,1.0,0,Not Graduate,Male,35.0,360.0,LP001086,N,No,Urban,No
29,3750,2083.0,1.0,2,Graduate,Female,120.0,360.0,LP001087,Y,No,Semiurban,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,Graduate,Male,119.0,360.0,LP002856,NaN,Yes,Urban,No
338,2360,3355.0,1.0,1,Graduate,Male,87.0,240.0,LP002857,NaN,Yes,Rural,Yes
339,4333,2333.0,0.0,0,Graduate,Female,162.0,360.0,LP002858,NaN,No,Rural,No
340,2623,4831.0,1.0,0,Graduate,Male,122.0,180.0,LP002860,NaN,Yes,Semiurban,Yes
341,3972,4275.0,1.0,0,Graduate,Male,187.0,360.0,LP002867,NaN,No,Rural,Yes
342,3522,0.0,1.0,3+,Not Graduate,Male,81.0,180.0,LP002869,NaN,Yes,Rural,No
343,4700,0.0,1.0,1,Graduate,Male,80.0,360.0,LP002870,NaN,Yes,Urban,No
344,6858,0.0,1.0,0,Graduate,Male,176.0,360.0,LP002876,NaN,No,Rural,No
345,8334,0.0,1.0,3+,Graduate,Male,260.0,360.0,LP002878,NaN,Yes,Urban,No
346,3391,1966.0,0.0,0,Graduate,Male,133.0,360.0,LP002879,NaN,Yes,Rural,No
347,2868,0.0,1.0,0,Not Graduate,Male,70.0,360.0,LP002885,NaN,No,Urban,No
348,3418,1380.0,1.0,2,Not Graduate,Male,135.0,360.0,LP002890,NaN,Yes,Urban,No
349,2500,296.0,1.0,0,Graduate,Male,137.0,300.0,LP002891,NaN,Yes,Rural,Yes
350,8667,0.0,1.0,2,Graduate,Male,254.0,360.0,LP002899,NaN,Yes,Rural,No
351,2283,15000.0,NaN,0,Graduate,Male,106.0,360.0,LP002901,NaN,No,Rural,No
352,5817,910.0,1.0,0,Graduate,Male,109.0,360.0,LP002907,NaN,Yes,Urban,No
353,5119,3769.0,1.0,0,Graduate,Male,120.0,360.0,LP002920,NaN,Yes,Rural,No
354,5316,187.0,0.0,3+,Not Graduate,Male,158.0,180.0,LP002921,NaN,Yes,Semiurban,No
355,7603,1213.0,1.0,3+,Graduate,Male,197.0,360.0,LP002932,NaN,Yes,Urban,No
356,3791,1936.0,1.0,1,Graduate,Male,85.0,360.0,LP002935,NaN,Yes,Urban,No
357,2500,0.0,1.0,0,Graduate,Male,60.0,360.0,LP002952,NaN,No,Urban,No
358,3132,0.0,NaN,2,Not Graduate,Male,76.0,360.0,LP002954,NaN,Yes,Rural,No
359,4000,2667.0,1.0,0,Graduate,Male,152.0,360.0,LP002962,NaN,No,Semiurban,No
360,8550,4255.0,NaN,0,Graduate,Female,96.0,360.0,LP002965,NaN,Yes,Urban,No
361,2269,2167.0,1.0,1,Graduate,Male,99.0,360.0,LP002969,NaN,Yes,Semiurban,No
362,4009,1777.0,1.0,3+,Not Graduate,Male,113.0,360.0,LP002971,NaN,Yes,Urban,Yes
363,4158,709.0,1.0,0,Graduate,Male,115.0,360.0,LP002975,NaN,Yes,Urban,No
364,3250,1993.0,NaN,0,Graduate,Male,126.0,360.0,LP002980,NaN,No,Semiurban,No
365,5000,2393.0,1.0,0,Graduate,Male,158.0,360.0,LP002986,NaN,Yes,Rural,No
366,9200,0.0,1.0,0,Graduate,Male,98.0,180.0,LP002989,NaN,No,Rural,Yes

In [12]:
# 3)Convert Gender,Married,Dependents,Education,Self_Employed,Property_Area into numeric form depending on column?
train_data = train_df.dropna()
train_data.isnull().sum()
from sklearn.preprocessing import LabelEncoder
train_data['Gender'].unique()
encoder = LabelEncoder()
train_data['Gender'] = encoder.fit_transform(train_data['Gender'])
train_data['Married'].unique()
encoder = LabelEncoder()
encoder.fit_transform(train_data['Married'])
encoder.fit_transform(train_data['Dependents'])
encoder.fit_transform(train_data['Education'])
encoder.fit_transform(train_data['Self_Employed'])
encoder.fit_transform(train_data['Property_Area'])
train_data['Property_Area'].unique()

D:\machine learning\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

In [13]:
# 4)Also show the count for each column mentioned above after converting into numeric form?
train_df.count(),train_data.count()

(Loan_ID              614
 Gender               601
 Married              611
 Dependents           599
 Education            614
 Self_Employed        582
 ApplicantIncome      614
 CoapplicantIncome    614
 LoanAmount           592
 Loan_Amount_Term     600
 Credit_History       564
 Property_Area        614
 Loan_Status          614
 dtype: int64, Loan_ID              480
 Gender               480
 Married              480
 Dependents           480
 Education            480
 Self_Employed        480
 ApplicantIncome      480
 CoapplicantIncome    480
 LoanAmount           480
 Loan_Amount_Term     480
 Credit_History       480
 Property_Area        480
 Loan_Status          480
 dtype: int64)

In [18]:
# 5)Fill the missing values in Married,Gender,Self_Employed with randint, LoanAmount and Dependents with median,Loan_Amount_Term with mean ?
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
rndval = np.random.randint(5,10)
train_df['Gender'].unique()
train_df['Gender'].fillna(rndval,inplace=True)
train_df['Gender'].unique()
train_df['Married'].fillna(rndval,inplace=True)
train_df['Self_Employed'].fillna(rndval,inplace=True)
train_df['Self_Employed'].unique()
mdan = train_df['LoanAmount'].median()
train_df['LoanAmount'].fillna(mdan,inplace=True)
mean =  train_df['Loan_Amount_Term'].mean()
train_df['Loan_Amount_Term'].fillna(mean,inplace=True)
train_df['Loan_Amount_Term'].unique()

array([360., 120., 240., 342., 180.,  60., 300., 480.,  36.,  84.,  12.])

In [24]:
# 6)Finally apply any classification Model and calculate Accuracy ?
train_data.head()
x = train_data.iloc[:,:-1].values
y = train_data.iloc[:,-1].values
x

array([['LP001003', 1, 'Yes', ..., 360.0, 1.0, 'Rural'],
       ['LP001005', 1, 'Yes', ..., 360.0, 1.0, 'Urban'],
       ['LP001006', 1, 'Yes', ..., 360.0, 1.0, 'Urban'],
       ...,
       ['LP002983', 1, 'Yes', ..., 360.0, 1.0, 'Urban'],
       ['LP002984', 1, 'Yes', ..., 360.0, 1.0, 'Urban'],
       ['LP002990', 0, 'No', ..., 360.0, 0.0, 'Semiurban']], dtype=object)